*{
    font-family: 'Inter', serif;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

body {
    background: #F3F5FC;
    margin-left: 80px;
    margin-right: 80px;
}

header {
    margin: 20px 0;
}

main {
    display: flex;
}

section {
    margin: 20px;
    padding: 20px;
    flex: 1;
}

textarea {
    border: none;
    background: #F3F5FC;
    text-transform: lowercase;
    margin: auto;
}

::placeholder {
    color: #0A3871;
}

textarea:focus {
    outline: none;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

footer{
    text-align: center;
    width: 100%;
    margin: auto;
}

/** botones **/

.btn {
    margin: 10px 10px 10px 0;
    cursor: pointer;
    height: 68px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    max-width: 320px;
    min-width: 140px;
    width: 100%;
}

.boton-encript{
    background: #0A3871;
    color: #FFFFFF;
}

.boton-desencript{
    background: #D8DFE8;
    color: #0A3871;
}

.boton-copiar{
    background: #FFFFFF;
    color: #0A3871;
}

/** clases **/

.info{
    display: inline;
    font-size: 18px;
}

.resultado{
    background: #FFFFFF;
    text-align: center;
    border-radius: 32px;
}

.muneco{
    background-repeat: no-repeat;
    border: none;
    padding-top: 80px;
    padding-bottom: 80px;
}

.texto2{
    background: #FFFFFF;
    width: 100%;
    padding-bottom: 50px;
}

.copyright{
    font-size: 13px;
}

/** herramientas **/

.botones{
    display: flex;
}

.d-none {
    display: none!important;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .botones {
        display: block;
        text-align: center;
    }
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
}
